# Secrets
.env
**/.env

# Python virtual environments
venv/
**/venv/
.venv/
**/.venv/

# Python cache
__pycache__/
*.py[cod]

# Chroma database
chroma_db/
**/chroma_db/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db